.checkmark {
  padding: 10px;
  margin-left: 5px;
}

.tasktable {
  max-width: 800px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.crossed-line {
  text-decoration: line-through;
}
